<mat-toolbar>
  <mat-toolbar-row class="navbar-layout">
    <!-- Left Zone -->
    <div class="navbar-left">
      <button mat-icon-button class="toggle-sidebar" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">{{ globalStateService.title }}</span>
    </div>

    <!-- Right Zone -->
    <div class="navbar-right">
      <app-cart-button *ngIf="isAuthenticated"></app-cart-button>
      <app-user-dropdown *ngIf="isAuthenticated"></app-user-dropdown>
      <button
        *ngIf="!isAuthenticated"
        mat-icon-button
        class="login-icon"
        aria-label="Login"
        (click)="goToLogin()">
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
